#userInput, select, option    {
	font-size:16px;
	font-family:verdana;
	text-align:center;
	width:375px;
	display:block;
	border: 1px solid #999;
	height: 50px;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}

html, body {
	min-height:100%;
	
}

body {
	height:100%;
	display: block;
	background-color: #E6E6E6;
	margin: 0;
    -webkit-animation: bodyFade 5s; /* Chrome, Safari, Opera */
    animation: bodyFade 5s;
}

#graphicalSubmit {
	height:30px;
	width:90px;
	margin:0px auto;
	}

#page {
	margin:0px auto;
	width:800px;
	height: 100%;
	background-color: white;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(105,105,105,1);
	-moz-box-shadow: 0px 0px 14px 0px rgba(105,105,105,1);
	box-shadow: 0px 0px 14px 0px rgba(105,105,105,1);
}

#header {
	background-color: #0174DF;
	width: 100%;
	height: 60px;
	margin: 0;
	padding: 0px;
	left:0px;
	top:0px;
	position: fixed;
}

#receive, #deposit {
	float: left;
}

#receivingInputField {
	width:375px;
	margin:0px auto;
	}
	
#depositr {
	text-align: center;
}

p {
	font-family:verdana;
	}
	
#footerText {
	font-size:8px;
	}

.submit {
   border-top: 1px solid #0064a6;
   background: #0064a6;
   background: -webkit-gradient(linear, left top, left bottom, from(#0064a6), to(#0064a6));
   background: -webkit-linear-gradient(top, #0064a6, #0064a6);
   background: -moz-linear-gradient(top, #0064a6, #0064a6);
   background: -ms-linear-gradient(top, #0064a6, #0064a6);
   background: -o-linear-gradient(top, #0064a6, #0064a6);
   padding: 6.5px 13px;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 12px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.submit:hover {
   border-top-color: #004573;
   background: #004573;
   color: #ffffff;
   }
.submit:active {
   border-top-color: #005085;
   background: #005085;
   }
/* Progress bar css */
#progressBar {
        width: 400px;
        height: 22px;
        border: 1px solid #111;
        background-color: #292929;
}
 
#progressBar div {
        height: 100%;
        color: #fff;
        text-align: right;
        line-height: 22px; /* same as #progressBar height if we want text middle aligned */
        width: 0;
        background-color: #0099ff;
}
	
/* Body fade animation */
/* Chrome, Safari, Opera */
@-webkit-keyframes bodyFade {
    from {background: white;}
    to {background: #E6E6E6;}
}

/* Standard syntax */
@keyframes bodyFade {
    from {background: white;}
    to {background: #E6E6E6;}
}