input, select    {
	width:375px;
	display:block;
	border: 1px solid #999;
	height: 50px;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	/* css 3 */
	border-radius:10px;
	/* mozilla */
	-moz-border-radius:10px;
	/* webkit */
	-webkit-border-radius:10px;
}

textarea:focus, input:focus {
	border: 1px solid #09C;
}

optgroup {
	font-size:14px;
	}

body {
	display: block;
	background-color: #E6E6E6;
	margin: 0;
}

#page {
	margin:0px auto;
	width:800px;
	height: 100%;
	background-color: white;
}

#header {
	background-color: #0174DF;
	width: 100%;
	height: 60px;
	margin: 0;
	padding: 0px;
	position: fixed;
}

#receive, #deposit {
	float: left;
}

#depositr {
	text-align: center;
}
p {
	font-family:verdana;
	}
#exchangeCenterDiv {
	margin: 0px auto;
	
}
